Source: slp-pkgmgr
Priority: extra
Maintainer: Sewook Park <sewook7.park@samsung.com>, Youmin Ha <youmin.ha@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libsecurity-server-client-dev, libdbus-1-dev, libdbus-glib-1-dev, libecore-dev, dlog-dev, libaul-1-dev, libail-0-dev, libappcore-efl-dev, libxml2-dev
Standards-Version: 3.7.2
Section: base

Package: libpkgmgr-client-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},  libpkgmgr-client-0 (= ${Source-Version}), libecore-dev, libsecurity-server-client-dev,  libaul-1-dev, libail-0-dev, libpkgmgr-types-dev(>= ${Source-Version}), libpkgmgr-installer-dev (>= ${Source-Version}), libpkgmgr-parser-dev (>= ${Source-Version})
Description: Package Manager client library develpoment package

Package: libpkgmgr-client-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpkgmgr-installer (>= ${Source-Version}), libpkgmgr-parser (>= ${Source-Version}), pkgmgr-server (>= ${Source-Version})
Description: Packager Manager client library package

Package: pkgmgr-server
Section: base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpkgmgr-installer (>= ${Source-Version})
Description: Package Manager server

Package: pkgmgr-server-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pkgmgr-server
Description: debug package of Package Manager source package

Package: libpkgmgr-installer
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for installer backend.

Package: libpkgmgr-installer-dev
Section: libdevel
Architecture: any
Depends: libpkgmgr-installer (= ${Source-Version}), 
Description: Dev package for libpkgmgr-installer

Package: libpkgmgr-parser
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Parser Library for installer backend.

Package: libpkgmgr-parser-dev
Section: libdevel
Architecture: any
Depends: libpkgmgr-parser (= ${Source-Version}),
Description: Dev package for libpkgmgr-parser

Package: libpkgmgr-types-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Package Manager client types develpoment package
